body {
	background: #efefef;
	color: #333;
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0 0 40px;
}

a {
	color: #39B2E5;
	text-decoration: none;
    font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-weight: bold;
    font-variant: small-caps;
    text-shadow: 1px 1px white;
    margin-top: 65px;
}
h1 a {
    color: #999;
}
h1 a:hover {
    text-decoration: none;
    color: #666;
}
h2 {
    font-size: 20px;
}
.top_head {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: transparent url(../img/top_head.png) top left repeat-x;
    z-index: 100;
    overflow: hidden;
}

.login {
    text-align: right;
    margin-bottom: 10px;
    padding-top: 8px;
}
.login label {
    display: inline;
}
.profile p {
    text-align: right;
    padding-right: 15px;
}
#register_button {
    font-size: 18px;
}

.events {
    border: 1px solid #ccc;
	background-color: #fff;
	margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box_bar {
    padding-left: 10px;
}
.box_main {
    padding-right: 10px;
    position: relative;
}
.box_full {
    padding: 0 10px;
}

.event_bar {
    margin-bottom: 20px;
}
.event_date {
    font-weight: bold;
    color: #C73E14;
    letter-spacing: -1px;
    text-align: right;
}
.event_date p {
    font-size: 18px;
    margin-bottom: 0;
}

.event_registration {
    text-align: right;
    background-color: #FFF5C7;
    padding: 10px;
}
.event_registration h3 {
    color: #C73E14;
    font-size: 14px;
}
.event_registration span {
    display: block;
    font-size: 11px;
}
.event_registration .label {
    color: #999;
}
.event_registration .register a {
    font-size: 13px;
}

.event_info {
    margin-bottom: 20px;
}
.meta {
    background-color: #DBEEF5;
    color: #999;
    font-size: 11px;
    padding: 4px;
}
.meta .val {
    color: #666;
    font-weight: bold;
}
.manage_event {
    position: absolute;
    top: 0;
    right: 10px;
}

.participant_info {
    font-size: 16px;
    background-color: #DBEEF5;
    color: #39B2E5;
    text-shadow: 1px 1px white;
    padding: 4px;
    margin-bottom: 2px;
}
.participant_info strong {
    font-style: italic;
    font-weight: bold;
    color: #0091CE;
}

.paging {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#footer {
    text-align: center;
    font-size: 12px;
    color: #999;
}
#footer p {
    margin-bottom: 2px;
}

/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.paging span.current {
	color: #c73e14;
}
div.paging span a {
}

/** view **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-weight: bold;
    font-size: 16px;
}
fieldset fieldset {
	margin-top: 0px;
	padding: 10px;
    border: none;
}
fieldset fieldset legend {
    color: #444;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	margin-bottom: 1em;
	vertical-align: text-top;
}
form .input {
	color: #444;
    width: 98%;
}
form .input .long {
    width: 70%;
}
form .input .short {
    width: 60px;
}
form .input .medium {
    width: 140px;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	margin-bottom:3px;
}
select {
	clear: both;
	font-size: 98%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/
div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 10px;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/**  Actions  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: underline;
}

input[type=submit],
div.actions ul li a,
td.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
	background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}

/** Related **/
div.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}
