<div class="grid_12 users form">
<?php echo $this->Form->create('User');?>
	<fieldset>
 		<legend>Login</legend>
	<?php
		echo $this->Form->input('email');
		echo $this->Form->input('password');
		echo $this->Form->submit('Login', array('div' => false));
        echo ' &nbsp; Belum punya account? ';
        echo $this->Html->link('Register', array('action' => 'register'));
	?>
	</fieldset>
</div>
<div class="clear"></div>
